{% load staticfiles %}
<html>
    <head>
        <title>Twitter Scripts</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Slab|Supermercado+One" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Boogaloo" rel="stylesheet">

    </head>

    <style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 55%;
}

td, th {
    text-align: left;
    padding: 8px;
}



tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
    <body class=pageback>

        <div class="page-header clearfix">
            <div class="containertitre clearfix">
                <h1><a href="/">TwitterScript</a></h1>
                <h2 class="soustitreb">Accelerate eBrandValue throught social.</h2>
            </div>
            <div id="topmenub" class="newposting">
                <a class="bouttonall" href="{% url 'the_script' %}">Scripts</a>
                <a class="bouttongauche" href="/">Feed</a>
                <a class="bouttondroit" href="{% url 'post_new' %}">+</a>
                <a class="bouttongauche" href="{% url 'report_list' %}">Bug Reports</a>
                <a class="bouttondroit" id="boutondr" href="{% url 'report_new' %}">+</a>
            </div>
        </div>

  {% block content %}
  {% endblock %}

    </body>
</html>

