<html>
    <head>
        <title>Operation CC</title>
    </head>

    <style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
}

td, th {
    text-align: left;
    padding: 8px;
}



tr:nth-child(even) {
    background-color: #dddddd;
}
</style>

    <body bgcolor="#E6E6FA">
 <div>
    <h1><a href="/">** Operation CC Official Thread **</a></h1>
</div>

{% for post in posts %}

<table>
  <tr border-radius = "10px", 0, 0, 0>
    <th BGCOLOR="#f44242", colspan=2><font color="white">{{ post.title }}</font></th>
  </tr>

  <tr>
    <td BGCOLOR="#ffffff", colspan=2>{{ post.text|linebreaksbr }}</td>
  </tr>

  <tr>
    <td BGCOLOR="#360060", border-radius: 15px, 15px, 0px, 0px;><font color="white"><b>Publié:</b></td>
    <td BGCOLOR="#290030"><font color="white">{{ post.published_date }}</font></td>
  </tr>
</table>
<br>
{% endfor %}
    </body>
</html>
