{% extends 'blog/base.html' %}

{% block content %}
{% load staticfiles %}

    <div class="portelogo">
      <br>
      <br>
      <img id="logob" src="{% static "images/threa.png" %}" alt="My image" width="17%" height="20%"/>
    </div> 
    <div class="textlogo"> 
      <h1 id="textlogoc">That may be a small step for frog, but that's <br><b>a giant leap for frogkind.</b></h1>
    </div> 

  {% for post in posts %}
  <div class="actual-page">

  <table>
    <tr>
      <th class="titleb ombre1", colspan=2><a id="rocket" href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></th>
    <!--  -->
    </tr>

    <tr>
      <td class="textb ombre1", colspan=2>{{ post.text|linebreaksbr }}</td>
    </tr>

    <tr>
      <td class="publishedb ombre1">Publié par <b>{{ post.author }}</b></td>
      <td class="dateb ombre1">{{ post.published_date }}</td>
    </tr>

  </table>
    </div>
  {% endfor %}


{% endblock %}
