{% extends 'blog/base.html' %}

{% block content %}
    <h1 class="newpostwar">Report a Bug.</h1>
    <form method="POST" class="newpostwar2">{% csrf_token %}
   {% for field in report %}
      <div>
       {{ field.label_tag }}
      </div>
      <div class="battleb" id="fieldb">
      {{ field }}
      <br><br>
      </div>

    {% endfor %}

        <button type="submit" class="bouttonbb couleurbb" onclick="window.location.href = '/';">Go Back</button>
        <button type="submit" class="bouttonbb couleurg">Report</button>

    </form>

{% endblock %}