a:hover { 
  text-decoration: none;
}

h1 a {
    color: #ffffff;
    font-family: 'Lobster';
    font-size: 150%;
}



h1 a:hover {
    color: #ffffff;
    font-family: 'Lobster';
    font-size: 150%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.page-header {
    background-color: #C1007D;
    margin-bottom: 0px;
    padding: 10px;
    width:100%;
    margin-top: -2%;
    padding-left: 2%;
}
.containertitre {
    background-color: #C1007D;
    float:left;
    width:40%;
}

#topmenub { 
  padding: 15px;
  background-color: #C1007D;
  float:right;
  width:60%;
  margin-top: 2%;
}

#topmenub2 { 
  margin-top: 0px;
  padding: 15px;
  background-color: #C1007D;
  float:right;
  width:62%;
}
#fieldb { 
    color: #000000;
}
.battleb { 
    color: #000000;
}
.remplissageb {
    background-color: #C1007D;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 1px;
    width:100%;
}
.actual-page {
    background-color: #eae8f7;
    margin-top: 0;
    padding: 15px;
  }

.actual-pageb {
    background-color: #d1abd8;
    margin-top: 0;
    padding: 15px;
  }

.newposting {
    color: #ffffff;
    font-family: 'Josefin Slab', serif;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 270%;
}

#boutonb { 
  color: #000000;
  margin-top: 0px;
}

.bouttongen {
    border: none;
    display: inline-block;
    padding: 10px 8px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 40px;
    box-sizing: border-box;
}

.bouttong:hover {
  background-color: #000000;
  color: #3a7999;
  box-shadow: inset 0 0 0 3px #ED6FC1;
}


.couleurg {
    color: #000000!important;
    background-color: #ffffff!important;
}

.bouttonbb {
    border: none;
    display: inline-block;
    padding: 10px 8px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 40px;
    box-sizing: border-box;
}

.bouttonbb:hover {
  background-color: #000000;
  color: #ED6FC1;
  box-shadow: inset 0 0 0 3px #ED6FC1;
}


.couleurbb {
    color: #ffffff!important;
    background-color: #C1007D!important;
}

.largeb {
    border: none;
    display: inline-block;
    padding: 20px 10px;
    border-radius: 15px;
    font-family: 'Josefin Slab', serif;
    font-size: 170%;
}

#largeb {
    border: none;
    display: inline-block;
    padding: 20px 10px;
    border-radius: 15px;
    font-family: 'Josefin Slab', serif;
    font-size: 170%;
}

.bouttonbbb {
    border: none;
    display: inline-block;
    padding: 10px 8px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 40px;
    box-sizing: border-box;
}

.bouttonbbb:hover {
  background-color: #000000;
  color: #ED6FC1;
  box-shadow: inset 0 0 0 3px #ED6FC1;
}


.couleurbbb {
    color: #ffffff!important;
    background-color: #C1007D!important;
}

.portelogo {
    position: fixed;
    bottom: 45%;
    right: 5%;
    margin-right: 6%;
}


#textlogowar {
    margin-left: 76%;
    position: fixed;
    bottom: 22%;
    right: 1%;
    width: 28%;
    font-family: 'Josefin Slab', serif;
    font-size: 158%;
}

#logob {
    position: fixed;
    bottom: 45%;
    right: 5%;
    float:right;
    margin-right: 6%; 
}
.portelogowar {
    position: fixed;
    bottom: 45%;
    right: 5%;
    margin-right: 6%;
}

#logowar {
    position: fixed;
    bottom: 45%;
    right: 5%;
    float:right;
    margin-right: 6%; 
}
#textlogoc {
    margin-left: 60%; 
    position: fixed;
    bottom: 15%;
    right: 5%;
    width:30%;
    font-family: 'Josefin Slab', serif;
    font-size: 160%;
}


.textlogo {
    position: fixed;
    bottom: 15%;
    right: 5%;
    width:30%;
    font-family: 'Josefin Slab', serif;
    font-size: 160%;
}

.myfieldclass {
    font-family: 'Josefin Slab', serif;
    font-size: 60%;
}


.soustitreb {
    color: #ED6FC1;
    font-family: 'Josefin Slab', serif;
    font-size: 160%;
    line-height: 0.13;
}

#soustitrec {
    color: #ffffff;
  font-family: 'Boogaloo', cursive;
    font-size: 260%;
    line-height: 0.13;
}

.soustitrec {
    color: #ffffff;
  font-family: 'Boogaloo', cursive;
    font-size: 260%;
    line-height: 0.13;
}

.bouttongpp {
    border: none;
    display: inline-block;
    padding: 0px 15px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 40px;
    box-sizing: border-box;
}

.bouttongpp:hover {
  background-color: #000000;
  color: #3a7999;
  box-shadow: inset 0 0 0 3px #ED6FC1;
}

.couleurgpp {
    color: #000000!important;
    background-color: #ffffff!important;
}
.pageback {
  background-color: #eae8f7;
}

.titleb {
  color: #FFFFFF !important;
  width: 65%;
  font-size: 120%;
  font-family: 'Boogaloo', cursive;
  background-color: #a93958;
  border-radius: 6px 6px 0px 0px;
  text-align: center;
}

.textb {
  color: #000000;
  width: 65%;
  font-family: 'Josefin Slab', serif;
  background-color: #ffffff;
  border-radius: 0px 0px 0px 0px;
}

.newpostb {
    font-family: 'Josefin Slab', serif;
    color: #ffffff;
    font-size: 250%;
    padding-left: 5%;
    padding-top: 2%;
    margin-bottom: 0%;
    margin-top: 0%;
    background-color: #44005a;
}
.newpostwar {
    font-family: 'Josefin Slab', serif;
    color: #ffffff;
    font-size: 250%;
    padding-left: 5%;
    padding-top: 2%;
    margin-bottom: 0%;
    margin-top: 0%;
    background-color: #ff8d00;
}
.newpostwar2 {
    font-family: 'Josefin Slab', serif;
    color: #ffffff;
    font-size: 120%;
    padding-left: 5%;
    background-color: #ff8d00;
    padding-bottom: 2%;
}
.newpostb2 {
    font-family: 'Josefin Slab', serif;
    color: #ffffff;
    font-size: 120%;
    padding-left: 5%;
    background-color: #44005a;
    padding-bottom: 2%;
}

.scriptb {
    font-family: 'Josefin Slab', serif;
    color: #ffffff;
    font-size: 250%;
    margin-top: 0%;
    padding-top: 2%;
    padding-left: 5%;
    padding-bottom: 1%;
    background-color: #44005a;
}


.publishedb {
  color: #ffffff;
  font-family: 'Josefin Slab', serif;
  width: 25%;
  background-color: #4d1c70;
  border-radius: 0px 0px 0px 6px;
  text-align: center;
}

.dateb {
  color: #ffffff;
  font-family: 'Josefin Slab', serif;
  width: 75%;
  background-color: #2c0d42;
  border-radius: 0px 0px 6px 0px;
}

.bouttondroit {
    border: none;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: #000000;
    background-color: #ffffff;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 0px 5px 5px 0px;
    margin-left: 0px;
    box-sizing: border-box;
}

.bouttonall {
    border: none;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: #C1007D;
    background-color: #a0008d;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 5px 5px 5px 5px;
    margin-left: 0px;
    box-sizing: border-box;
}

.bouttonall:hover {
  color: #C1007D;
  background-color: #ffffff;
}


.bouttongauche:hover {
  background-color: #840556;
  color: #ffffff;
}

.bouttondroit:hover {
  background-color: #840556;
  color: #ffffff;
}
.couleurgpp10 {
    color: #000000!important;
    background-color: #ffffff!important;
}

.couleurgpp10:hover {
  background-color: #840556;
  color: #ffffff;
}

.bouttongauche {
    border: none;
    display: inline-block;
    padding: 0px 5px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: #000000;
    margin-right: -2%;
    background-color: #ffffff;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 5px 0px 0px 5px;
    box-sizing: border-box;
}




.publishedrep {
    color: #ffffff;
    font-family: 'Josefin Slab', serif;
    width: 25%;
    background-color: #67033a;
    border-radius: 0px 0px 0px 6px;
    text-align: center;
}

.daterep {
    color: #ffffff;
    font-family: 'Josefin Slab', serif;
    width: 75%;
    background-color: #2d2d2d;
    border-radius: 0px 0px 6px 0px;
}
.titlerep {
    color: #FFFFFF !important;
    width: 65%;
    font-size: 120%;
    font-family: 'Boogaloo', cursive;
    background-color: #000000;
    border-radius: 6px 6px 0px 0px;
    text-align: center;
}

.actual-pagerep {
    background-color: #dadada;
    margin-top: 0;
    padding: 15px;
}